---
---
body {
  padding-top: 70px;
  padding-bottom: 0px;
  font-weight: normal;
  width: calc(100vw - 17px);
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.blog-post {
  padding-bottom: 70px;
  font-size: 26px;
}

.list-group-item {
  padding: 5px 15px;
}

.list-group {
  width: 90%
}

img {
    float: right;
    padding: 30px;
    max-width: 100%;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 1400px;
  }
}

h1,h2,h3,h4 {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

/*add space before header, so scrolling is not hidden by top bar*/
h1:before,h2:before,h3:before,h4:before {
  display: block;
  content: " ";
  margin-top: -55px;
  height: 55px;
  visibility: hidden;
}


/*
 * Navigation bar
*/

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  
  a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    &.current {background-color: #666;}
    &:hover {background-color: #555;}
  }
  .icon {
    display: none;
   }
  .dropdown_content {
    display: none;
    position: fixed;
    background-color: #333;
    float: left;
    padding: 0px 30px;
    margin-left: 75px;
    &.show_content{
      display: block;
    }
  }
}

@media screen and (max-width:680px) {
  #navbar {
    :not(:first-child) {
      display: none;
    }
    .icon {
      float: right;
      display: inline-block;
    }
    &.responsive {
      .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      a {
        display: block;
        text-align: left;
        float: none;
      }
    }
    .dropdown_content.show_content{
      position: initial;
      margin-left: 5%;
      li{
        display: block;
      }
    }
  }
  body > div.container {
    display: flex;
    flex-direction: column;
  }
  #main-content {
    order: 2;
  }
  .col-sm-4 {
    order: 1;
  }
}

.dropdown:after {
  content: " ";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

#info-box-container {
  position: static;
  overflow: visible;
  min-height: 175px;

  .info-box {
    float: left;
    width: 20%;
    height: 175px;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 25px;
    line-height: 1.4em;
    clear: none;
    padding-bottom: 0;
    display: block;
    text-align: justify;
    border: 1px solid #ddd;
    border-radius: 30px;
    border-style: outset;

    h1,h2,h3,h4,h5,h6{
      margin: 0;
      padding: 5px;
      font-size: large;
      text-align: center;
    }
  }
}

#toc-container {
  .collapsible.collapsed + li,.collapsible.collapsed + ol {
    display: none;
  }
  .collapseIcon {
    float: right;
  }

  .collapsible.collapsed .collapseIcon:before {
    content: "[+]";
  }

  .collapsible .collapseIcon:before {
    content: "[-]";
  }
}

#toc {
  padding-left: 0px;
  list-style-type: none;
  counter-reset: item;
  margin: 0px 0px 0px 0px;
  color: #555;

  ol {
    padding-left: 0px;
    list-style-type: none;
    counter-reset: item;
    margin: 0px 0px 0px 0px;
  }

  li {
    display: block;
    float: none;
    margin: 0px 0px 0px 0px;
    line-height:20px;
    a {
      color: #555;
      border: 0px;
    }
    a:before {
      content: counters(item, ".") " ";
      counter-increment: item;
      float: left;
      margin-right: 1em;
      position: relative;
      min-width: 2em;
    }
  }

  > li {
    border: 1px solid #ddd;
    border-bottom: 0px;
    &.collapsed {
      border-bottom: 1px solid #ddd;
    }
  }

  .collapsible > hr {
    position: absolute;
    left: 30px;
    z-index: 1000;
    border: 0;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 1px;
    background: #ddd;
  }

  .collapsible.collapsed > hr {
    display: none;
  }

  .list-group-item {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  > li:first-Child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  > li:last-Child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

#back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  margin-left: -150px;
  width: 50px;
  height: 50px;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: none;
  margin-bottom: 7px;
  border: 1px solid #bbb;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #bbb;
  cursor:pointer;
  
  &.show {
    display: block;
  }
  
  :hover {
    background: #ccc;
    
    .arrow {
      border-color:#444;
    }
  }
  .arrow {
    display:inline-block;
    position: absolute;
    top: 20px;
    left: 17px;
    width:14px;
    height:14px;
    line-height:7px;
    border-top:3px solid #aaa;
    border-right:3px solid #aaa;
    -ms-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
  }
}

#main-content {
  h1:target,h2:target,h3:target,h4:target,h5:target,h6:target {
    animation: highlight 1s ease;
  }
}

@keyframes highlight {
  from { background: yellow; }
  to { background: white; }
}

#slideshow-container {
  position: relative;
  float: left;
  width: 800px;
  height: 422px;
  margin-bottom: 50px;
  z-index: -1;
  
  #slideshow > img {
    display: none;
    width: 100%;
    height: 100%;
    padding: 0px 50px;
    margin: 0px;
    animation: fadeIn 6s infinite;
  }

  #slideshow-indicator  {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 0px;
    position: absolute;
    left: 0;
    bottom: -30px;
    text-align: center;
    
    > span {
      cursor: pointer;
      display: inline-block;
      height: 18px;
      width: 18px;
      padding: 0;
      margin: 1px;
      border: 2px solid #000;
      border-radius: 50%;
      background-color: #fff;
      
      &.current {
        cursor: initial;
        color: #000;
        background-color: #333;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}