body {
  padding-top: 70px;
  padding-bottom: 200px;
  font-weight: normal;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}


.blog-post {
  padding-bottom: 70px;
  font-size: 26px;
}

.list-group-item {
  font-size: 20px;
}

.list-group {
  width: 90%
}


img {
    float: right;
    padding: 30px;
}




/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 1400px;
  }
}


body .syntaxhighlighter code, body .syntaxhighlighter .gutter { 
	overflow-y: hidden !important; 
	overflow-x: auto !important; 
  font-size: 20px !important; 
}

h1,h2,h3,h4 {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
