# http://EditorConfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
# tab is superior to space:
# • it allows users to configure the indent size
# • it semantically differentiates indent from alignment
# however, a reasonable amount of tools can not deal with tabs 😥
indent_style = tab

# scala is very fixed on this indent style
# in particular, scalafmt does not support tabs
[*.{scala,sbt}]
indent_style = space
indent_size = 2

# yml seems to require space indentation
[*.yml]
indent_style = space
indent_size = 2
