target
.idea
*.iml
bin
.project
*.class
.cache
.cache-main
.cache-tests
.classpath
.settings/
*.sublime-project
*.sublime-workspace
website/
test-output/
Examples/Universe/*.csv
Research/Microbenchmarks/Results.zip
