**/z-platform.sbt
*.class
*.iml
*.out
*.sublime-project
*.sublime-workspace
.bloop/
.cache
.cache-main
.cache-tests
.classpath
.history
.idea
.metals/
.project
.settings/
bin
Examples/LiveDemo/node_modules/
Examples/Todolist/node_modules/
Examples/Todolist/package-lock.json
Examples/Universe/*.csv
proguard-sbt.txt
Research/Microbenchmarks/Results.zip
Research/Microbenchmarks/results/
target
test-output/
website/
