ragnar <git@rmgk.de> <ragnar@rmgk.de>
ragnar <git@rmgk.de> <rmgk@users.noreply.github.com>

Pascal Weisenburger <pascal.weisenburger@web.de>

Julian <git@julian-haas.de>
Julian <git@julian-haas.de> <github@julian-haas.de>
Julian <git@julian-haas.de> <mail@julian-haas.de>

Guido <guido.salva@gmail.com>

Christian Kuessner <17302779+ckuessner@users.noreply.github.com>
Christian Kuessner <17302779+ckuessner@users.noreply.github.com> <ckuessner@mailbox.org>

DrCicero <drcicero@users.noreply.github.com> <ohk5shae6iot@gmail.com>
DrCicero <drcicero@users.noreply.github.com> drcicero <>
DrCicero <drcicero@users.noreply.github.com> <11000518+drcicero@users.noreply.github.com>

Gerold <gerold.hintz@gmail.com> hintz <gerold.hintz@googlemail.com>

Svenja Kernig <svenja.kernig@gmx.de>

Philipp Martens <philipp.martens98@gmail.com>

Lukas Holst <lukas@familie-holst.de> lh70 <63605274+lh70@users.noreply.github.com>

Robin Breitenbach <robin.breitenbach@stud.tu-darmstadt.de> <contact@robflop.me>

Christian Volk <mail@christianvolk.eu> <VOLKC@BASFAD.BASF.NET>
Christian Volk <mail@christianvolk.eu> <mail@christianvolk.eu>

Florian Mladitsch <florian.mladitsch@googlemail.com>
