@import "lib/purecss/build/pure";
@import "lib/font-awesome/css/svg-with-js";

$font-color: rgb(0, 0, 0);
$theme-color: #16982B;
$background-color: #FAFAFA;

@mixin no-selection {
  /* disable any form of selection */
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

@mixin reset-selection {
  /* enable comment selection */
  -webkit-user-select: initial; /* Chrome all / Safari all */
  -moz-user-select: initial; /* Firefox all */
  -ms-user-select: initial; /* IE 10+ */
  user-select: initial; /* Likely future */
}

body {
  background-color: $background-color;
  transition: background-color 1s;
  color: $font-color;
  font-family: "Liberation Sans", "Helvetica", "Arial", sans-serif;
}

body.emergency {
  background-color: #f91111;
}

body.green {
  background-color: #16982b;
}

a {
  text-decoration: none;
  color: $font-color;
  cursor: pointer;
}

#front section.chapters a:hover {
  text-decoration: underline;
}


article p {
  max-width: 800px;
  margin: auto;
}

header {
  margin: 1em auto;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > svg {
  width: 64px;
  height: 64px;
}

header > * {
  margin: 0 1em 0 1em;
}

#lamphead {
  fill: #cb1f25;
  transition: fill 1s;
}

.connected #lamphead {
  fill: #1acb3a;
}




h1 {
  text-align: center;
}



input {
  color: black;
  background-color: $background-color;
}

.pure-button {
  color: $font-color;
  background-color: darken($background-color, 10%);
}

fieldset a:visited {
  color: $theme-color;
}

article {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  background: #fffc;
  border-bottom: 1px solid #EBEBEB;
  padding: 1em;
  text-align: justify;
  hyphens: auto;

  display:flex;

  animation: slide-down 0.4s ease;

  h1 {
    font-size: 1em;
    text-align: left;
    margin-top: 0;
  }
}

.pic {
  width: calc(50% - 2em);
  flex-shrink: 0;
  margin-right: 1em;
  background-size: cover;
  background-position: center;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}