@import "lib/purecss/build/pure";
@import "lib/font-awesome/css/svg-with-js";
@import "underline-animation";

$font-color: rgb(0, 0, 0);
$theme-color: #16982B;
//$border-color: #310000;
$border-color: transparentize($theme-color, 0.8);
$background-color: #FAFAFA;

@mixin common-bg {
  background-color: $background-color;
}

@mixin no-selection {
  /* disable any form of selection */
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

@mixin reset-selection {
  /* enable comment selection */
  -webkit-user-select: initial; /* Chrome all / Safari all */
  -moz-user-select: initial; /* Firefox all */
  -ms-user-select: initial; /* IE 10+ */
  user-select: initial; /* Likely future */
}

/* i wont pretend that i fully understand what im doing here
it seems to do what i want (black background for page in fullscreen)
it stops working in opera27 (webkit) when these are combined into a list of selectors
please improve :D */
*:-webkit-full-screen {
  @include common-bg;
}

*:fullscreen {
  @include common-bg;
}

*:-moz-full-screen {
  @include common-bg;
}

body {
  @include common-bg;
  color: $font-color;
  /* disable scrollbar in IE … untested so disabled
  -ms-overflow-style: none; */
  font-family: "Liberation Sans", "Helvetica", "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: $font-color;
  cursor: pointer;
}

#front section.chapters a:hover {
  text-decoration: underline;
}


article p {
  max-width: 800px;
  margin: auto;
}

img.logo {
  margin: 1em auto;
  display: block;
  padding: 0;
  border: none;
  @include common-bg;
}


h1 {
  text-align: center;
}



input {
  color: black;
  background-color: $background-color;
}

.pure-button {
  color: $font-color;
  background-color: darken($background-color, 10%);
}

fieldset a:visited {
  color: $theme-color;
}

main {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

article {
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  background: white;
  border-bottom: 1px solid #EBEBEB;
  margin: 1em;
  padding: 1em;
}

article {
  text-align: justify;
  h1 {
    font-size: 1em;
    text-align: left;
    margin-top: 0;
  }
}