<!-- Fixed navbar -->
<div id="navbar">
  <div class="container">
    {% assign navs = site.pages | sort: 'nav' %}
    {% for p in navs %}
      {% if p.nav %}
        {% if p.dropdown %}
          {% assign id = p.title | remove:' ' %}
          <a class="dropdown" href="javascript:void(0);" onclick="dropdown('{{ id }}')">{{ p.title }}</a>
          <ul id="{{ id }}" class="dropdown_content">
          {% assign dropdowns = p.dropdown %}
          {% for check in dropdowns %}
            {% for dropdownPage in navs %}
              {% assign c = '/' | append: check %}
              {% if dropdownPage.url contains c %}
                <li> <a href="{{ site.github.baseurl }}{{ dropdownPage.url }}" >{{ dropdownPage.title }}</a></li>
              {% endif %}
            {% endfor %}
          {% endfor %}
          </ul>
        {% else %}
          <a class="{% if page.url == p.url %}current{% endif %}" href="{{ site.github.baseurl}}{{ p.url }}">
            {% if p.title == "Home" %}
            <span class="rescala-logo"><span class="rescala-logo-re">re:</span><span class="rescala-logo-scala">scala</span></span>
            {% else %} {{ p.title }} {% endif %}
          </a>
        {% endif %}
      {% endif %}
    {% endfor %}
    <a href="https://github.com/guidosalva/REScala/">Repository</a>
    <a class="icon" href="javascript:void(0);" onclick="document.getElementById('navbar').classList.toggle('responsive')">&#9776;</a>
  </div>
</div>
