<!-- Fixed navbar -->
<div id="navbar">
  <div class="container">
    <a href="{{ site.github.url }}/index">Home</a>
    {% assign navs = site.collections | sort: 'nav_id' %}
    {% for col in navs %}
      {% if col.name %}
    <a href="{{ site.github.url }}/{{ col.label }}">{{ col.name }}</a>
      {% endif %}
    {% endfor %}
    <a href="{{ site.github.url }}/contact">Contact</a>
    <a class="icon" href="javascript:void(0);" onclick="document.getElementById('navbar').classList.toggle('responsive')">&#9776;</a>
  </div>
</div>
