<!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#rescalaNavbar">&#9776;</button>
      <a class="navbar-brand" href="{{site.github.baseurl}}/"><span class="rescala-logo"><span class="rescala-logo-re">re:</span><span class="rescala-logo-scala">scala</span></span></a>
    </div>
    <div class="collapse navbar-collapse" id="rescalaNavbar">
      <ul class="nav navbar-nav">
        {% assign navs = site.pages | sort: 'nav' %}
        {% for p in navs %}
          {% if p.nav %}
            {% if p.dropdown %}
              {% assign id = p.title | remove:' ' %}
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ p.title }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                {% assign dropdowns = p.dropdown %}
                {% for check in dropdowns %}
                  {% for dropdownPage in navs %}
                    {% assign c = '/' | append: check %}
                    {% if dropdownPage.url contains c %}
                      <li> <a href="{{ site.github.baseurl }}{{ dropdownPage.url }}" >{{ dropdownPage.title }}</a></li>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
                </ul>
              </li>
            {% else %}
              <li {% if page.url == p.url %}class="active"{% endif %}>
              <a href="{{ site.github.baseurl}}{{ p.url }}">{{ p.title }} </a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/guidosalva/REScala/">Repository</a></li>
      </ul>
    </div>
</div>
  </nav>

<!--                 <a class="dropdown" href="javascript:void(0);" onclick="dropdown('')">{{ p.title }}</a>
                <ul id="{{ id }}" class="dropdown_content nav navbar-nav"> -->



