<div class="col-sm-4">
  <h3>REScala</h3>
  <div class="list-group">
    <a href="index" class="list-group-item">Overview</a>
    <a href="gettingstarted" class="list-group-item">Getting Started</a>
    <a href="studies" class="list-group-item">Case Studies</a>
    <a href="links" class="list-group-item">Links</a>
  </div>

  <h3>Other</h3>
  <div class="list-group">
    <a href="reswing" class="list-group-item">RESwing</a>
    <a href="datastructures" class="list-group-item">Reactive Datastructures</a>
    <a href="REClipse" class="list-group-item">REScala Eclipse plugin</a>
  </div>

</div>
