<div class="col-sm-4 blog-sidebar">
  <h3>REScala</h3>
  <div class="list-group">
    <a href="overview" class="list-group-item">Overview</a>
    <a href="documentation" class="list-group-item">Documentation</a>
    <a href="download" class="list-group-item">Download</a>
    <a href="examples" class="list-group-item">REScala Examples</a>
  </div>

  <h3>Libraries</h3>
  <div class="list-group">
    <a href="reswing" class="list-group-item">RESwing</a>
    <a href="datastructures" class="list-group-item">Reactive Datastructures</a>

  </div>

  <h3>Case studies</h3>
  <div class="list-group">
    <a href="universe" class="list-group-item">Universe Simulation</a>
    <a href="reactedit" class="list-group-item">React Edit</a>
    <a href="reactrss" class="list-group-item">React RSS</a>
    <a href="reactshapes" class="list-group-item">React Shapes</a>
  </div>

  <h3>Tools</h3>
  <div class="list-group">
    <a href="REClipse" class="list-group-item">REScala Eclipse plugin</a>
  </div>
</div>
