<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="reandroidthings"
          android:versionCode="1"
          android:versionName="1.0">

  <uses-library android:name="com.google.android.things"/>

  <uses-sdk
    android:minSdkVersion="24"
    android:targetSdkVersion="25"/>

</manifest>
