<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ page.title }} - REScala</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ site.github.url }}/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap theme -->
  <link href="{{ site.github.url }}/dist/css/bootstrap-theme.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ site.github.url }}/css/theme.css" rel="stylesheet">
  <!-- styles for syntax highlighting -->
  <link href="{{ site.github.url }}/css/syntax.css" rel="stylesheet">

  <script type="text/javascript" src="{{ site.github.url }}/default.js"> </script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body>
    {% include navbar.html %}
  <div class="container" role="main">
    <div id="main-content" class="col-sm-8">
    {{ content }}
    </div>

    {% if page.sidebar %}
      {% include sidebar_{{ page.sidebar }}.html %}
    {% endif %}

  </div>
  <!-- /container -->

</body>

</html>
