<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ page.title }} - rescala</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ site.github.baseurl }}/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap theme -->
  <link href="{{ site.github.baseurl }}/dist/css/bootstrap-theme.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ site.github.baseurl }}/css/theme.css" rel="stylesheet">
  <!-- styles for syntax highlighting -->
  <link href="{{ site.github.baseurl }}/css/syntax.css" rel="stylesheet">
  <script type="text/javascript" src="{{ site.github.baseurl }}/default.js"> </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
  <script src="{{ site.github.baseurl }}/dist/js/bootstrap.min.js"></script>
  <script language="javascript"><!--
    function fillFrame() {
      var f = top.frames['scaladoc'];
      with (f.document) {
        open();
        writeln(`{{ content }}`);
        close();
      }
      f.window.onhashchange = function() {
		if (window.location.hash)
			window.history.pushState(null, null, f.window.location.hash);
		else
			window.history.replaceState(null, null, f.window.location.hash);
      };
	  window.onhashchange = function() {
		f.window.location.hash = window.location.hash;
	  }
    }
  //--></script>
</head>

<body style="padding-top: 52px">
    {% include navbar.html %}
  <div  role="main">
    <div id="main-content">

    <iframe name="scaladoc" onload="fillFrame()" style="overflow: hidden; height: calc(100% - 52px); width: 100%; position: absolute;" frameborder="0" width="100%" height="100%"></iframe>
    </div>

  </div>
  <!-- /container -->

</body>

</html>
