name: tests

on: [push, pull_request]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: install jsdom
      run: npm install jsdom
    - name: Run tests
      run: sbt "set ThisBuild / Test / parallelExecution := false" test
